<div id="viewModal{{ role.idRole }}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modifier un rôle</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formRole{{ role.idRole }}" method="post" action="{{ path('cs_roles_edit', {'id': role.idRole}) }}">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputLib" class="col-lg-2 control-label">Description</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" style="padding-left: 5px" id="inputLib{{ role.idRole}}" name="libRole" value="{{ role.libRole }}">
                            </div>
                            <div class="col-lg-3">
                                <button type="button" onclick="validerFormulaire({{ role.idRole }})" class="btn btn-primary">Modifier</button>
                            </div>
                            <div class="col-lg-12 text-danger text-center" id="message_erreur">
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>


<script>
    function validerFormulaire(id){

        libelle = document.getElementById("inputLib"+id).value;
        libelleLength = libelle.length;

        if(libelleLength <= 4){
            document.getElementById("message_erreur").innerHTML = "<br>Le libellé doit contenir au minimum 5 caractères.<br>";
            return false ;
        }

        document.getElementById("formRole"+id).method = "POST";
        document.getElementById("formRole"+id).submit();

    }
</script>