{% extends 'CSCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <br>

        <div class="well well-sm">

            <div class="btn-group text-right">
                <a href="{{ path('cs_utilisateurs_new') }}" title="Ajouter un utilisateur" class="btn btn-default btn-sm text-right"><span
                            class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            </div>
        </div>


        {% for message in app.session.flashbag.get('notice') %}
            <div>
                <div class="alert alert-dismissible text-success text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div>
                <div class="alert alert-dismissible text-danger text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        <div class="well well-lg">

            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                <tr class="">
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Fonction</th>
                    <th>Rôle</th>
                    <th>Poste</th>
                    <th class="text-center" colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in liste_users %}
                    {% if app.user.idUtilisateur != user.idUtilisateur %}
                    <tr>
                        <td>{{ user.idUtilisateur }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.fonction.libFonction }}</td>
                        <td>{{ user.role.libRole }}</td>
                        <td>{{ user.numPoste }}</td>
                        <td class="text-center"><a style="cursor: pointer" href="{{ path('cs_utilisateurs_edit', {'id': user.idUtilisateur}) }}" title="Modifier" class="text-info"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#supModal{{ user.idUtilisateur }}" title="Supprimer" class="text-info"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    {% include "CSUtilisateursBundle:Utilisateurs:delete.html.twig" %}
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-uppercase">Pas d'utilisateurs.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if liste_users is not empty %}
            {% include 'CSCoreBundle::pagination.html.twig' %}
        {% endif %}
        </div>
    </div>


{% endblock %}

