{% extends 'CSCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Serveurs
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <br>

        <div class="well well-sm">

            <div class="btn-group text-right">
                <a href="{{ path('cs_serveurs_all') }}" title="Liste des serveurs" class="btn btn-default btn-sm text-right"><span
                            class="glyphicon glyphicon-list"></span> Liste
                </a>
            </div>
        </div>


        {% for message in app.session.flashbag.get('notice') %}
            <div>
                <div class="alert alert-dismissible text-success text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div>
                <div class="alert alert-dismissible text-danger text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        <div class="well well-lg">

            {{ form_start(form,{'attr' : {'class' : 'form-horizontal'}}) }}

            <div class="form-group">

                {{ form_label(form.nom,"D.N.S : ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Nom du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.nom) }}
                </div>

            </div>


            <div class="form-group">

                {{ form_label(form.login,"Login : ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.login,{'attr':{'class':'form-control','placeholder':'Login du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.login) }}
                </div>

            </div>

            <div class="form-group">

                {{ form_label(form.mdp,"Mot de passe : ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.mdp,{'attr':{'class':'form-control','placeholder':'Mot de passe du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.mdp) }}
                </div>

            </div>

            <div class="form-group">

                {{ form_label(form.loginPhpmyadmin,"Login PHPMyAdmin: ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.loginPhpmyadmin,{'attr':{'class':'form-control','placeholder':'Login PHPMyAdmin du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.loginPhpmyadmin) }}
                </div>

            </div>


            <div class="form-group">

                {{ form_label(form.mdpPhpmyadmin,"Mot de passe Phpmyadmin: ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.mdpPhpmyadmin,{'attr':{'class':'form-control','placeholder':'Mot de passe PHPMyadmin du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.mdpPhpmyadmin) }}
                </div>

            </div>

            <div class="form-group">

                {{ form_label(form.os,"Système: ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.os,{'attr':{'class':'form-control','placeholder':'OS du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.os) }}
                </div>

            </div>

            <div class="form-group">

                {{ form_label(form.typeServeur,"Type du Serveur : ",{'label_attr' : {'class': 'col-lg-3 control-label'}}) }}

                <div class="col-lg-5">
                    {{ form_widget(form.typeServeur,{'attr':{'class':'form-control','placeholder':'Type du serveur'}}) }}
                </div>

                <div class="col-lg-4 text-danger">
                    {{ form_errors(form.typeServeur) }}
                </div>

            </div>

            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <button class="btn btn-primary">Enregistrer</button>
                </div>
                <div class="col-lg-4"></div>
            </div>


            {{ form_rest(form) }}

            {{ form_end(form) }}

        </div>

    </div>


{% endblock %}

