{% extends 'CSCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des technologies
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <br>

        <div class="well well-sm">

            <div class="btn-group text-right">
                <a data-toggle="modal" data-target="#newModal" title="Ajouter" class="btn btn-default btn-sm text-right"><span
                            class="glyphicon glyphicon-plus"></span> Ajouter
                </a>
            </div>
            {% include "CSApplicationsBundle:Technologies:new.html.twig" %}
        </div>


        {% for message in app.session.flashbag.get('notice') %}
            <div>
                <div class="alert alert-dismissible text-success text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('warning') %}
            <div>
                <div class="alert alert-dismissible text-danger text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> {{ message }} </strong>
                </div>
            </div>
        {% endfor %}

        <div class="well well-lg">

            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                <tr class="">
                    <th>#</th>
                    <th class="text-center">Libellé</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for technologie in liste_technologies %}
                    <tr>
                        <td>{{ technologie.idTechnologie }}</td>
                        <td>{{ technologie.libTechnologie }}</td>
                        <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#viewModal{{ technologie.idTechnologie}}" title="Modifier" class="text-info"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#supModal{{ technologie.idTechnologie}}" title="Supprimer" class="text-info"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    {% include "CSApplicationsBundle:Technologies:view.html.twig" %}
                    {% include "CSApplicationsBundle:Technologies:delete.html.twig" %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-uppercase">Pas de technologie.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if liste_technologies is not empty %}
            {% include 'CSCoreBundle::pagination.html.twig' %}
        {% endif %}
        </div>
    </div>


{% endblock %}

